PORT=3001
MIDDLEWARE_URL=http://qt1-middleware.uksouth.azurecontainer.io:8080
MOCK_PROVIDER_URL=http://qt1-middleware.uksouth.azurecontainer.io:8081
WS_PORT=3002
REPORT_OUTPUT_DIR=/reports
MAX_CONCURRENT_REQUESTS=1000
REQUEST_TIMEOUT=5000